/*fonts*/
@font-face {
  font-family: 'Gisbon DEMO';
  src: url('../fonts/GisbonDEMO.eot');
  src: url('../fonts/GisbonDEMO.eot?#iefix') format('embedded-opentype'), url('../fonts/GisbonDEMO.woff2') format('woff2'), url('../fonts/GisbonDEMO.woff') format('woff'), url('../fonts/GisbonDEMO.ttf') format('truetype'), url('../fonts/GisbonDEMO.svg#GisbonDEMO') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*colors*/
/*basic-settings*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
.body {
  background: #ffffff url("../resources/mainbg.jpg") center center repeat-y;
}
body {
  font-family:sans-serif;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
/*typography*/
section {
  padding: 10rem 0;
}
.prices {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px 10px 0 0;
  color: #fff;
  text-align: center;
}
.prices-topic {
  margin-top: -7rem;
  margin-bottom: 5%;
}
.header-price {
  margin-left: 0;
  text-align: center;
}
.header-price h2 {
  font-size: 4rem;
}
.header-price p {
  font-size: 2.5rem;
}
.prod-im {
  height: 22rem;
  width: auto;
}

.topic {
  font-size: 2rem;
}
.hello{
  color: rgb(207,207,207);
  position: relative;
  text-shadow: 
  0px 0px 1px rgb(167,167,167),
  0px 1px 1px rgb(167,167,167),
  0px 2px 1px rgb(167,167,167),
  1px 3px 6px rgba(0,0,0, 0.8),
  1px 3px 8px rgba(0,0,0, 0.8),
  0px 3px 3px rgba(0,0,0, 0.8),
  -3px 3px 6px rgba(0,0,0, 0.8),
    3px 3px 6px rgba(0,0,0, 0.8),
    1px 1px 120px rgba(255,255,255,0.5);
}

.hello::after {
  content: "Only 6.99$/per one!";
  color: rgb(207,207,207);
    position: absolute;
    left: 30px;
    text-shadow: 0px 0px 20px rgba(11,124,188,0.9);
    animation: cycle 1s linear infinite;
} 
.progress-bar{
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
    height: 100%;
    position: fixed;
  z-index: 101;
  background: #222;
}
.progress-percentage{
 position: fixed;
  font-size: 40px;
  font-weight: 900;
  color: #0adc00;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

@keyframes cycle {
  0%{ text-shadow: 0px 0px 20px rgba(199,96,11,0.9);
  color: rgb(207,207,207);} 
    20%{ text-shadow: 0px 0px 20px rgba(168,11,199,0.9);
    color: rgb(10,210,24);} 
    40%{ text-shadow: 0px 0px 20px rgba(11,199,96,0.9);
    color: rgb(207,207,207);} 
    60%{ text-shadow: 0px 0px 20px rgba(199,11,11,0.9);
    color: rgb(10,210,24);}
    80%{ text-shadow: 0px 0px 20px rgba(199,96,11,0.9);
    color: rgb(207,207,207);} 
}


.hello2{
  color: rgb(207,207,207);
  position: relative;
  text-shadow: 
  0px 0px 1px rgb(167,167,167),
  0px 1px 1px rgb(167,167,167),
  0px 2px 1px rgb(167,167,167),
  1px 3px 6px rgba(0,0,0, 0.8),
  1px 3px 8px rgba(0,0,0, 0.8),
  0px 3px 3px rgba(0,0,0, 0.8),
  -3px 3px 6px rgba(0,0,0, 0.8),
    3px 3px 6px rgba(0,0,0, 0.8),
    1px 1px 120px rgba(255,255,255,0.5);
}

.hello2::after {
  content: "Sale for consultation!";
  color: rgb(207,207,207);
    position: absolute;
   left: 0px;
   top: 0px;

    text-shadow: 0px 0px 20px rgba(11,124,188,0.9);
    animation: cycle1 5s linear infinite;
} 
@keyframes cycle1 {
  10%{ text-shadow: 0px 0px 20px rgba(199,96,11,0.9);
  color: rgb(207,207,207);} 
    20%{ text-shadow: 0px 0px 20px rgba(168,11,199,0.9);
    color: rgb(209,0,177);} 
    40%{ text-shadow: 0px 0px 20px rgba(11,199,96,0.9);
    color: rgb(207,207,207);} 
    60%{ text-shadow: 0px 0px 20px rgba(199,11,11,0.9);
    color: rgb(209,0,177);}
    80%{ text-shadow: 0px 0px 20px rgba(199,96,11,0.9);
    color: rgb(207,207,207);} 
    90%{ text-shadow: 0px 0px 20px rgba(199,11,11,0.9);
    color: rgb(209,0,177);}
}


.price-list {
  text-align: left;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-left: 10%;
}
/*xl*/
@media (max-width: 1920px) {
  .button {
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #6aa64e;
    color: #333;
    padding: 1rem 5px;
    text-transform: uppercase;
    border-radius: 0.8rem;
    border: 6px solid #fff;
    font-size: 3rem;
    font-weight: 700;
    display: inline-block;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
  }
  .button:hover {
    cursor: pointer;
    background-color: #63d01e;
  }
  .input-form {
    border-radius: 5px;
    border: none;
    font-family: 'Tahoma', sans-serif;
  }
  /*screen-1*/
  .phone-link {
    font-weight: 900;
    font-size: 4rem;
    color: #333;
    display: inline-block;
    height: 22rem;
    line-height: 22rem;
  }
  .topic {
    margin-top: -100px;
    height: 6rem;
    display: block;
    color: #fff;
    position: fixed;
    z-index: 100;
    background-color: #222;
    width: 100%;
  }
  .topic1 {
    height: 6rem;
    display: block;
    color: #fff;
    position: fixed;
    z-index: 100;
    background-color: #222;
    width: 100%;
    font-size: 2rem;
  }
   a {
    color: #6aa64e; 
   }
   a:hover {
    color: #f5f5f5; 
   }
   a:active {
    color: #f5f5f5; 
   }
  .formreg{
    margin-top:10rem;
    color: #333333;
    background-color: #f5f5f5;
    padding: 3rem 2rem;
    text-align: center;
    border-radius: 1rem;
    width: 80%;
  }
#submit 
{
  width: 80%;
  background-color: #6aa64e;
    color: #333;
    padding: 0.5rem 2px;
    text-transform: uppercase;
    border-radius: 0.8rem;
    border: 2px solid #fff;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
}
#username 
{
  width: 80%;
  color: #333;
    padding: 0.5rem 2px;
    border-radius: 0.8rem;
    border: 2px solid #6aa64e;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
}
#email 
{
  width: 80%;
  color: #333;
    padding: 0.5rem 2px;
    border-radius: 0.8rem;
    border: 2px solid #6aa64e;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
}
#password 
{
  width: 80%;
  color: #333;
    padding: 0.5rem 2px;
    border-radius: 0.8rem;
    border: 2px solid #6aa64e;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
}
#password2 
{
  width: 80%;
  color: #333;
    padding: 0.5rem 2px;
    border-radius: 0.8rem;
    border: 2px solid #6aa64e;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
}
  .wrap {
    display: table;
    width: 100%;
    height: 22rem;
    text-align: right;
  }
  .wrap-block {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  #log {
    max-height: 22rem;
    max-width: auto;
  }
  #logoss
  {
    max-height: 8rem;
    max-width: auto;
  }
  .main {
    color: #333;
    padding: 4rem 0;
  }
  .main-content {
    margin-top: 0rem;
  }
  .main-content h1 {
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
    display: block;
  }
  .main-content h5 {
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 1.7rem;
  }
  .main-content span {
    color: #333333;
    border-radius: 2rem;
    padding: 3rem 3rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: #f2ff26;
    display: inline-block;
  }
  .main-content strong {
    display: block;
    margin-top: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .main-form {
    color: #333333;
    background-color: #f5f5f5;
    padding: 3rem 2rem;
    text-align: center;
    border-radius: 1rem;
  }
  .main-form label {
    display: inline-block;
    font-size: 1.3rem;
    left: 50%;
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
  }
  .main-form-btn {
    width: 100%;
    display: block;
  }
  .input-form {
    display: block;
    width: 100%;
  }
}
/*md*/
@media (max-width: 1200px) {
  .button {
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #f6d73f;
    color: #1f4f09;
    padding: 1rem 5px;
    text-transform: uppercase;
    border-radius: 0.8rem;
    border: 6px solid #d02b1d;
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
  }
  .button:hover {
    cursor: pointer;
    background-color: #ad9108;
  }
  /*screen-1*/
  .phone-link {
    font-weight: 900;
    font-size: 4rem;
    color: #00ff3c;
    display: inline-block;
    height: 16rem;
    line-height: 16rem;
  }
  .header {
    height: 8rem;
    display: block;
  }
  .wrap {
    display: table;
    width: 100%;
    height: 10rem;
    text-align: right;
  }
  .wrap-block {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  #log {
    max-height: 10rem;
    max-width: auto;
  }
  .main {
    color: #00ff3c;
    padding: 4rem 0;
  }
  .main-content {
    margin-top: 8rem;
  }
  .main-content h1 {
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
    display: block;
  }
  .main-content h5 {
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 1.7rem;
  }
  .main-content span {
    color: #333333;
    border-radius: 2rem;
    padding: 3rem 3rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: #f2ff26;
    display: inline-block;
  }
  .main-content strong {
    display: block;
    margin-top: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .main-form {
    color: #333333;
    background-color: #f5f5f5;
    padding: 3rem 2rem;
    text-align: center;
    border-radius: 1rem;
  }
  .main-form label {
    display: inline-block;
    font-size: 1.3rem;
    left: 50%;
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
  }
}
/*sm*/
@media (max-width: 991px) {
  .phone-link {
    font-weight: 900;
    font-size: 3rem;
    color: #00ff3c;
    display: inline-block;
    height: 12rem;
    line-height: 12rem;
  }
  .header {
    height: 8rem;
    display: block;
  }
  .wrap {
    display: table;
    width: 100%;
    height: 12rem;
    text-align: center;
  }
  .wrap-block {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .button {
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: #f6d73f;
    color: #1f4f09;
    padding: 0.6m 3px;
    text-transform: uppercase;
    border-radius: 0.8rem;
    border: 4px solid #d02b1d;
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .button:hover {
    cursor: pointer;
    background-color: #ad9108;
  }
  #log {
    max-height: 12rem;
    max-width: auto;
  }
}
/*xs*/
@media (max-width: 767px) {
  .main-content {
    text-align: center;
  }
  .main-form {
    width: 80%;
    margin: 10%;
  }
  .phone-link {
    font-weight: 900;
    font-size: 4rem;
    color: #00ff3c;
    display: inline-block;
    height: 7rem;
    line-height: 7rem;
  }
  .header {
    height: 25rem;
    display: block;
    text-align: center;
  }
  .wrap {
    margin: 0   20%;
    display: table;
    width: 60%;
    height: 7rem;
    text-align: center;
  }
  .wrap-block {
    display: table-cell;
    vertical-align: middle;
    width: 40%;
    text-align: center;
  }
  .button {
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: #f6d73f;
    color: #1f4f09;
    padding: 0.6m 3px;
    text-transform: uppercase;
    border-radius: 0.8rem;
    border: 4px solid #d02b1d;
    font-size: 2rem;
    font-weight: 700;
    display: block;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    float: center;
  }
  .button:hover {
    cursor: pointer;
    background-color: #ad9108;
  }
  #log {
    max-height: 16rem;
    max-width: auto;
  }
}
/*slider*/
.secion-header {
  margin: 2rem 0;
  font-size: 4rem;
  text-align: center;
  color: #333;
  margin-bottom: 6rem;
}
.prev {
  position: absolute;
  top: 50%;
  left: -5%;
  width: 8rem;
  height: 8rem;
  background: url(../resources/slider/left.png) center no-repeat;
  z-index: 9;
  border: 1px dashed #00ff3c;
  border-radius: 15px;
}
.prev:active {
  border: 3px dashed #00ff3c;
  border-radius: 20px;
}
.next {
  position: absolute;
  top: 50%;
  left: 93%;
  width: 8rem;
  height: 8rem;
  background: url(../resources/slider/right.png) center no-repeat;
  z-index: 9;
  border: 1px dashed #00ff3c;
  border-radius: 15px;
}
.next:active {
  border: 3px dashed #00ff3c;
  border-radius: 20px;
}
.features {
  color: #333;
}
.features h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.features-block {
  text-align: center;
  font-size: 2rem;
}
.features-img {
  height: auto;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
/*popup-design*/
.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
  width: 60%;
  color: #333333;
  background-color: #f5f5f5;
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 3rem;
}
.popup-close {
  color: #1f4f09;
  position: absolute;
  top: -2rem;
  right: -2rem;
  border: 2px solid #d02b1d;
  background-color: #f6d73f;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 3rem;
}
.popup-content {
  text-align: center;
}
.popup label {
  display: inline-block;
  font-size: 1.3rem;
  left: 50%;
  -webkit-transform: translateY(80%);
          transform: translateY(80%);
}
.popup p {
  font-size: 1.5rem;
}
.popup-form {
  margin-top: -2rem;
}
.dsc {
  margin-top: 3rem;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 38;
  background: rgba(255, 255, 255, 0.5);
}
.bsc {
  margin-top: 3rem;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 38;
  background: rgba(255, 255, 255, 0.5);
}
.gsc {
  margin-top: 3rem;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 38;
  background: rgba(255, 255, 255, 0.5);
}
.pri-btn {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
